{
  "presets": [["next/babel"]],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@assets": "./assets",
          "@atoms": "./components/atoms",
          "@molecules": "./components/molecules",
          "@organisms": "./components/organisms",
          "@templates": "./components/templates",
          "@utils": "./utils"
        }
      }
    ]
  ]
}
